body { 
  background-image: url(https://cdn.wallpapersafari.com/13/14/XdZGlu.gif);
}

h1 {
  color: beige ;
  text-align: center;
  font-size: 50px;
  font-family: 'Inconsolata', monospace;
  background-color: black ;  
  border-style: dotted;
  border-color: green;
  text-shadow: 2px 2px green;
  margin: 50px 50px;
}

.container {
  color: beige;
  background-color: black;
  border-style: dotted;
  border-color: green;
  font-family: 'Inconsolata', monospace;
  margin: 50px 50px;
  font-size: 30px;
}

.triviaDiv {
  visibility: hidden;
  color: beige ;
  font-family: 'Inconsolata', monospace;
  text-align: center;
  font-size: 25px;
  background-color: black ;
  border-style: dotted;
  border-color: green;
  text-shadow: 2px 2px green;
  padding: 20px 20px 20px 20px ;
  margin: 50px 50px;
}

.button {
  font-size: 35px;
  background-color: black;
  color: beige;
  border-color: green;
  position: center;
  position: absolute;
  top: 50%;
  left: 35%;
  font-family: 'Inconsolata', monospace;
  text-shadow: 2px 2px green;
}

button:hover {
  background-color: white;
  color:green;
  border: green;

}

h2 {
  text-align: center;
  color: beige;
  font-size: 50px;
}

.answerButton {
  height: 45px;
  width: 85px;
  font-size: 20px;
  font-family: 'Inconsolata', monospace;
  font-style: bold;
}

.answerButton:hover {
  color: green;
}

@media screen and (max-width: 500px) {
  .button {
    left: 20%;
  }
  .answerButton {
    height: 40px;
    width: 80px;
    font-size: 20px;
    border-radius: 15px;
  }
}