body { 
  background-image: url(https://cdn.wallpapersafari.com/13/14/XdZGlu.gif);
}

h1 {
  color: white ;
  text-align: center;
  font-size: 50px;
  font-family: 'Inconsolata', monospace;
  background-color: black ;  
  border-style: solid;
  border-color: green;
  text-shadow: 2px 2px green;
}

/* .triviaDiv { 
  visibility: hidden;
} */

.triviaDiv {
  visibility: hidden;
  color: white ;
  font-family: 'Inconsolata', monospace;
  text-align: center;
  font-size: 25px;
  background-color: black ;
  border-style: solid;
  border-color: green;
}

.button {
  font-size: 35px;
  background-color: black;
  color:white;
  border-color: green;
  position: center;
  position: absolute;
  top: 50%;
  left: 40%;
  font-family: 'Inconsolata', monospace;
  text-shadow: 2px 2px green;
}

button:hover {
  background-color: white;
  color:green;
  border: green;

}

h2 {
  text-align: center;
  color:white;
  font-size: 50px;
}

  
  
